asgiref==3.3.1
autopep8==1.5.5
defusedxml==0.7.0
diff-match-patch==20200713
Django==3.1.9
django-cors-headers==3.7.0
django-import-export==2.5.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
et-xmlfile==1.0.1
gunicorn==20.0.4
jdcal==1.4.1
MarkupPy==1.14
mysql-server-has-gone-away==2.0.0
mysqlclient==2.0.3
odfpy==1.4.1
openpyxl==3.0.6
pycodestyle==2.6.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4.1
six==1.14.0
sqlparse==0.4.1
tablib==3.0.0
toml==0.10.2
urllib3==1.26.5
xlrd==2.0.1
xlwt==1.3.0
